* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "RobotoSlab-Medium";
  src: url("./assets/fonts/RobotoSlab-Medium.ttf");
}

@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("./assets/fonts/RobotoSlab-Bold.ttf");
}

@font-face {
  font-family: "RobotoSlab-Light";
  src: url("./assets/fonts/RobotoSlab-Light.ttf");
}